
<%# partial - частичное представление, об этом говорит знак подчеркивания в начале файла -
    это представление рендерится само по себе и не подставляется в layout
    они нужны для того, чтобы эти кусочки кода затем подключать на разных страницах
    в данном случае на других страницах достаточно добавить render 'form' в нужном месте, куда надо подставить
    разметку из файла _form - поиск файла будет выполнен в текущей директории, либо её надо указать явно
%>
<%= form_with model: @question do |f| %>   <%# Генерируем форму из модели с помощью хэлпера  %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title, required: true, minlength: 2, placeholder: 'Title' %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body, required: true, minlength: 2 %>
  </div>

  <%= f.submit "Submit questions!" %>
<% end %>